In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
data_path = 'dubai_data.csv'

In [ ]:
df = pd.read_csv(data_path)

In [ ]:
# In this dataset we dont need "id" columns because this not provide any valueble info to us.
df = df.drop(['id', 'price_per_sqft'], axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighborhood         1905 non-null   object
 1   latitude             1905 non-null   float64
 2   longitude            1905 non-null   float64
 3   price                1905 non-null   int64
 4   size_in_sqft         1905 non-null   int64
 5   no_of_bedrooms       1905 non-null   int64
 6   no_of_bathrooms      1905 non-null   int64
 7   quality              1905 non-null   object
 8   maid_room            1905 non-null   bool
 9   unfurnished          1905 non-null   bool
 10  balcony              1905 non-null   bool
 11  barbecue_area        1905 non-null   bool
 12  built_in_wardrobes   1905 non-null   bool
 13  central_ac           1905 non-null   bool
 14  childrens_play_area  1905 non-null   bool
 15  childrens_pool       1905 non-null   bool
 16  concierge            1905 non-null   bool
 17  covered_parking      1905 non-null   bool
 18  kitchen_appliances   1905 non-null   bool
 19  lobby_in_building    1905 non-null   bool
 20  maid_service         1905 non-null   bool
 21  networked            1905 non-null   bool
 22  pets_allowed         1905 non-null   bool
 23  private_garden       1905 non-null   bool
 24  private_gym          1905 non-null   bool
 25  private_jacuzzi      1905 non-null   bool
 26  private_pool         1905 non-null   bool
 27  security             1905 non-null   bool
 28  shared_gym           1905 non-null   bool
 29  shared_pool          1905 non-null   bool
 30  shared_spa           1905 non-null   bool
 31  study                1905 non-null   bool
 32  vastu_compliant      1905 non-null   bool
 33  view_of_landmark     1905 non-null   bool
 34  view_of_water        1905 non-null   bool
 35  walk_in_closet       1905 non-null   bool
dtypes: bool(28), float64(2), int64(4), object(2)
memory usage: 171.3+ KB

In [ ]:
# There is not any null values so we not need to drop any values.
df.dropna()

                           neighborhood  ...  walk_in_closet
0                         Palm Jumeirah  ...           False
1                         Palm Jumeirah  ...           False
2                  Jumeirah Lake Towers  ...            True
3                       Culture Village  ...           False
4                         Palm Jumeirah  ...           False
...                                 ...  ...             ...
1900           Mohammed Bin Rashid City  ...            True
1901           Mohammed Bin Rashid City  ...            True
1902  Dubai Creek Harbour (The Lagoons)  ...           False
1903            Jumeirah Village Circle  ...            True
1904               Jumeirah Lake Towers  ...           False

[1905 rows x 36 columns]

In [ ]:
df.duplicated().sum().sum()

12

In [ ]:
df = df.drop_duplicates(keep='first')

In [ ]:
df.shape

In [ ]:
result = {}
for col in df.columns:
    result[col] = df[col].nunique()

In [ ]:
result

In [ ]:
df['neighborhood'].sort_values().unique()

In [ ]:
df.sort_values(by='price', ascending=False).head()

In [ ]:
targeted = df.groupby('neighborhood')['price'].mean().round(2)

In [ ]:
df['price_mean'] = pd.to_numeric(df['neighborhood'].map(targeted))

In [ ]:
pd.to_numeric(df['price_mean'])

In [ ]:
df.to_csv('cleaned_dubai_data.csv', index=False)

In [ ]:
df